__pycache__/
/dataStore/savedGame/load_file.json
/dataStore/savedGame/RoomState/Attic.json
/dataStore/savedGame/RoomState/Cellar.json
/dataStore/savedGame/RoomState/Crypt.json
/dataStore/savedGame/RoomState/Dining Room.json
/dataStore/savedGame/RoomState/Downstairs Bathroom.json
/dataStore/savedGame/RoomState/Foyer.json
/dataStore/savedGame/RoomState/Front Lawns.json
/dataStore/savedGame/RoomState/Game Room.json
/dataStore/savedGame/RoomState/Gazebo.json
/dataStore/savedGame/RoomState/Green Room.json
/dataStore/savedGame/RoomState/Hidden Room.json
/dataStore/savedGame/RoomState/Kitchen.json
/dataStore/savedGame/RoomState/Landing.json
/dataStore/savedGame/RoomState/Library.json
/dataStore/savedGame/RoomState/Linen Closet.json
/dataStore/savedGame/RoomState/Parlor.json
/dataStore/savedGame/RoomState/Pink Room.json
/dataStore/savedGame/RoomState/Porch.json
/dataStore/savedGame/RoomState/Red Room.json
/dataStore/savedGame/RoomState/Rose Garden.json
/dataStore/savedGame/RoomState/Servant Bathroom.json
/dataStore/savedGame/RoomState/Servant Quarters.json
/dataStore/savedGame/RoomState/Solarium.json
/dataStore/savedGame/RoomState/Tunnel.json
/dataStore/savedGame/RoomState/Upstairs Bathroom.json
.idea/*
